.c_button {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 80%;
  border: 5em;
  text-align: center;
  line-height: 10vh;
  border-radius: 1.6em;
  cursor: pointer;
}
