.container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-y: hidden;
}

.screen-container {
  height: 20vh;
  width: 100vw;
  padding-left: 3.5%;
  padding-right: 3.5%;
  margin-top: 2em;
  position: relative;
  color: #fff;
  p {
    line-height: 20vh;
    float: right;
    font-size: 3em;
  }
}
.history {
  position: absolute;
  top: 0;
  font-size: 2em;
  opacity: 0.5;
}
.web-container {
  height: 80vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  display: none;
  @media (min-aspect-ratio: 1/1) {
    display: block;
  }
}
.phone-container {
  height: 80vh;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  display: none;
  @media (max-aspect-ratio: 1/1) {
    display: block;
  }
}
.row-style {
  height: 13vh;
}
